#questionArea {
	border:1px solid black;
	width:500px;
}

h1 {
    background-color: #2F3;
}

#title {
    width: 500px;
    text-align: center;
}

.answer {
    background-color: #4F4;
    border:1px solid black;
    padding:2px;
    margin:3px;
}

.question {
    background-color: #DFF;
    border: 1px solid black;
    margin: 3px;
    padding:2px;
}

.qInput {
    width: 394px;
    height:100px;
    margin-left:3px;
    margin-right: 3px;
    vertical-align: top;
}

.qButton {
    height: 100px;
    vertical-align: top;
}

.selectedQuestion {
    background-color: #4BF;   
}