#questionArea {
    top:60px;
	border:1px solid black;
	width:500px;
    position: absolute;
    left: 25%;
    font-family: sans-serif;
    margin-bottom: 50px;
}

h1 {
    
}

#link {
    border-top: 1px solid black;
    position:fixed;
    bottom: 0px;
    right: 20px;
    font-family: sans-serif;
    width:100%;
    text-align: right;
    height:40px;
    background-color: white;
}

#top {
    width: 503px;
    margin-top: -8px;
    position:fixed;
    left:25%;
    background-color: white;
    z-index: 5;
}

#title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: sans-serif;
}

.answer {
    background-color: #4F4;
    border:1px solid black;
    padding:2px;
    margin:3px;
}

.question {
    background-color: #DFF;
    border: 1px solid black;
    margin: 3px;
    padding:2px;
}

.qInput {
    width: 394px;
    height:100px;
    margin-left:3px;
    margin-right: 3px;
    vertical-align: top;
}

.qButton {
    height: 100px;
    vertical-align: top;
}

.selectedQuestion {
    background-color: #4BF;
    border: 1px solid black;
    padding: 2px;
    margin: 3px;
}

.smallTitles {
    margin-top: 3px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.info {
    display: none;
}

.questionInfo {
    display: inline;
    background-color: #FFD;
    position:absolute;
    left:-200px;
    top:40px;
    width:160px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 2px #888888;
    
}

.answerInfo {
    display: inline;
    background-color: #FFD;
    position: absolute;
    left:-200px;
    width: 160px;
    bottom: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 2px #888888;
}