#questionArea {
    margin-bottom: 80px;
    font-family: sans-serif;
    z-index: 1;
}

.separateQuestions {
    margin-top: 1px;
    margin-bottom: 1px;
}

.qInput {
    width: 100%;
}

.qButton {
    width:100%;
}

.newQuestion {
    margin-top: 15px;
}

.answer {
    margin-bottom:15px;
}

.question {
    padding-left: 15px;
    display:inline-block;
}